/* styles.css */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* En-tête */
header {
    background: #6a1b9a;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Sections */
section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

section:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

/* Titres */
h1, h2, h3 {
    color: #6a1b9a;
    font-weight: 700;
}


/* Liste */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #6a1b9a;
}

/* Boutons */
input[type="submit"],
input[type="reset"] {
    background-color: #8e24aa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #7b1fa2;
    transform: translateY(-2px);
}

/* Navigation */
nav {
    margin-top: 20px;
}

nav h2 {
    margin-top: 20px;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: #8e24aa;
    padding: 5px 0;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #6a1b9a;
    text-decoration: underline;
}

/* Pied de page */
footer {
  text-align: center;
  margin-top: auto;
  font-size: 0.9em;
  color: #777;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}